certifi
cffi
charset-normalizer
cmake
exceptiongroup
filelock
idna
iniconfig
Jinja2
lit
llvmlite
MarkupSafe
more-itertools
mpmath
networkx
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
openai-whisper
packaging
pluggy
pycparser
PySide2
pytest
regex
requests
shiboken2
six
sounddevice
soundfile
sympy
tiktoken
tomli
torch
tqdm
triton
typing_extensions
urllib3
